@import "tailwindcss";
@config "./../tailwind.config.js";

@layer theme, base, components, utilities;

@layer base {
  @theme {
    --breakpoint-3xl: 120rem;
    --color-light-primary: #884239;
    --color-light-secondary: #D1D161;
    --color-light-tertiary: #FC8F92;
    --color-light-primary-bg: #FFFCED;
    --color-light-secondary-bg: #FFDD93;
  }
}

html,
body,
#root,
.app {
  height: 100%;

}

input[type="file"]::file-selector-button {
  border: 2px solid oklch(0.882 0.059 254.128);
  padding: 0.5em 1em;
  border-radius: 0.2em;
  background-color: oklch(0.932 0.032 255.585);
  transition: 1s;
  margin-right: 1em;
}

input[type="file"]::file-selector-button:hover {
  border: 3px solid oklch(0.882 0.059 254.128);
}

input[type="file"][disabled]::file-selector-button {
  border: 1px solid darkgray;
  background-color: darkgray;
}
