@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap');
@import "tailwindcss";

html,
body,
#root,
.app {
  height: 100%;
  font-family: 'solway', sans-serif;
  width: 100dvw;
}

@layer base {
  @theme {
    --font-solway: 'Solway', sans-serif;
  }
}

@layer utilities {
  .solway-light {
    font-family: "Solway", serif;
    font-weight: 300;
    font-style: normal;
  }

  .solway {
    font-family: "Solway", serif;
    font-weight: 400;
    font-style: normal;
  }

  .solway-medium {
    font-family: "Solway", serif;
    font-weight: 500;
    font-style: normal;
  }

  .solway-bold {
    font-family: "Solway", serif;
    font-weight: 700;
    font-style: normal;
  }

  .solway-extrabold {
    font-family: "Solway", serif;
    font-weight: 800;
    font-style: normal;
  }

}